#logo {
	padding-top: 10px;
	padding-left: 10px;
}

#nav-button {
	background-color: #c2195b;
}

#bg-image {
	background-color:  rgb(0, 0, 0, 0.5);
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}







/* team */

/*Member 1*/
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    color: white;
    padding: 10px;
    width: 9rem;
    font-size: 1rem;
    font-weight: 600;
    border-color: transparent;
    border-radius: 25px;
}

/*Member 4 Code*/
.container {
	text-align: right;
	width: 40%;
	float: right;
	position: relative;
}

.title {
	font-family: 'Zilla Slab', serif;
	font-size: 2.5rem;
	font-weight: 600;
}

.subtitle {
	font-size: 1.3rem;
	font-weight: 300;
	width: 75%;
	margin-left: 9rem;
	margin-top: 2rem;
}

.apply-button {
	margin-top: 1rem;
	background-color: #c2195b;
}

/* Member 5 */
#intro {
  padding-top: 10px;
  text-align: center;
}

.title-2 {
  font-family: "Zilla Slab";
  font-size: 2rem;
  font-weight: 800;
}

.intro-description,
.prefooter-description {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 600;
}

footer {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

footer span {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 800;
}


