#G {
	color : yellow;
}

/* Universal Selector */
* {
	font-family: "courier New", monospace;
	font-size: 20px;
}

/*ID Selector*/
/*#id-name*/
#zuitt-motto {
	letter-spacing: 5px;
}

/*Class Selector*/
/* .class-name */

.offering-item {
	text-transform: uppercase;
}

/*Adjacent sibling selector
	selector + selector
*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/* Descendant Selctor
selector selector */

#bootcamp-learning-list li {
	color : #075966;
}

/* General Sibling Selector
selector ~ selector*/

h2 ~ a {
	text-decoration: none;
}

.modules {
	letter-spacing: 3px;
}