

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* Custom CSS for small screens */
@media (max-width: 576px) {
	.table-responsive {
	  display: block;
	  max-height: 300px; /* Adjust the maximum height as needed */
	  overflow-y: auto;
	}
  
	.table {
	  width: 100%; /* Make the table full width on small screens */
	}
  }

  @media (max-width: 768px) {
	/* Adjust the width for medium screens and smaller (max-width: 768px) */
	.Sidebar {
	  width: 150px;
	}
  }

  @font-face {
	font-family: bea;
	src: url(../public/bea.ttf);
  }
  @font-face {
	font-family: type;
	src: url(../public/coolvetica\ rg.otf);
  }
  
  
  
  
  
  



* {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

}

.App {
	width: 99vw;
	height: 100vh;
}


body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	
  }


.Sidebar {
	height: 45vh;
	width: 220px;
	background-color: transparent;
	padding: 0px;
	position: fixed;
	left: 0;
 	
}
.sideBarButton {
	background-color: transparent;
	color: #4C0000;
	border: none;
	padding-left: 12px;
	font-size: 20px;
	
}

.sideBarButton:hover {
	color: #1B2E3C
}

.navMain {
	background-color: #1B2E3C;
	color: #F4E3E3;
	position: fixed;
}

.sidePanel {
	padding-bottom: 15px;
	padding-top: 15px;
	width: 100%;
	padding-left: 0px;
	display: flex;
	align-items: center;
	margin: 10px;
}

.sidePanel.active {
	background-color: #1B2E3C; 
	color: white; 
  }


  thead, td {
	width: 160px;
	text-align: center;
	vertical-align: middle;
	font-family: "Lato", sans-serif;
  }

  th {
	width: 160px;
	text-align: center;
	vertical-align: middle;
	font-family: "type", sans-serif;
  }

  table {
	border-radius: 10px;
  }

  .logo {
	display: flex;
	justify-content: center; 
	align-items: center; 
	height: 60vh; 
	
  }

  .logoImg {
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  
.background-image {
	background-image: url('./images/backgroundPF.jpg');
	background-size: cover; 
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.1); 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
  }

  .transparent-bg {
	background-color: rgba(255, 255, 255, 0.1);
  }
  
 
.custom-heading {
	font-family: "bea", sans-serif;
	color: #1B2E3C;
  }


.orderButton {
	background-color: #4C0000;
	color: #F4E3E3;
}
  
.orderButton {
	background-color: #4C0000;
	color: #F4E3E3;
	padding: 10px 20px;
	border: 2px solid #4C0000;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .orderButton:hover {
	background-color: #F4E3E3;
	color: #4C0000;
	border-color: #F4E3E3;
  }

  .shadowed {
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

 




/*

black #0C0C1E
blue #1B2E3C
crimson #4C0000
cream #F4E3E3 

*/
