nav ul {
	display: inline-block;
	text-decoration: none;
	margin: 0.5rem;
	padding: 3px;
}

#landing {
	background-image: url(https://images.pexels.com/photos/3951790/pexels-photo-3951790.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	height: 50vh;
	color: white;
}